<header>
  <div>
    logo
  </div>
  <nav *ngIf="logged"
  @fade
  >
    <ul>
      <li>
        item
      </li>
      <li>
        item
      </li>
      <li>
        item
      </li>
    </ul>
  </nav>
  <nav aria-label="Cannabic tour main menu"
  [@markedState]="animationLogin ? 'marked' : 'default'"
  *ngIf="!logged"
  >
    <ul role="menubar" aria-label="Main menu">
      <li>
        <a
          role="menuitem"
          aria-haspopup="false"
          aria-expanded="false"
          tabindex="0"
          href="javascript:void"
          title="explore"
          matRipple
        >
          Explore
        </a>
      </li>
      <li>
        <a
          href="javascript:void"
          tabindex="0"
          aria-haspopup="false"
          aria-expanded="false"
          title="login"
        >
          Login
        </a>
      </li>
      <li>
        <a
          href="javascript:void"
          role="menuitem"
          tabindex="0"
          aria-haspopup="false"
          aria-expanded="false"
          title="register"
        >
          Register
        </a>
      </li>
    </ul>
  </nav>
</header>
