<div class="container-main">
  <h1>
    Discover <br />
    amazing places to get high
  </h1>

  <div class="search_box">
    <div class="search_box__country">
      <input
        type="text"
        placeholder="Select the country"
        [matAutocomplete]="landing"
        [formControl]="control"
      />

      <mat-autocomplete #landing="matAutocomplete">
        <mat-option
          *ngFor="let country of filtered | async"
          [value]="country.name"
        >
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="search_box__place">
      <input type="text" placeholder="Select the place" />
      <button type="button" tabindex="0" matRipple>Search</button>
    </div>
  </div>

  <section class="categories_choose">
      <ul role="menubar" aria-label="Menu de categorias">
        <li role="menuitem" tabindex="0" *ngFor="let category of categories">
          <article class="categories_choose__box">
            <img *ngIf="category?.name; else moreButton" src="assets/img/vegetable.svg" alt="">
            <h5 *ngIf="category?.name">{{ category.name }}</h5>
          </article>

          <ng-template #moreButton>
            <img src="assets/img/more.svg" alt="">
          </ng-template>
        </li>
      </ul>
  </section>

  <section class="help_finding">
    <h4>What can we help you expirence?</h4>
    <ul>
      <li>
        <article class="help_finding__box">
          <header></header>
          <div>
            <h3>Stays</h3>
            <span>1239</span>
          </div>
        </article>
      </li>
      <li>
        <article class="help_finding__box">
          <header></header>
          <div>
            <h3>Stays</h3>
            <span>1239</span>
          </div>
        </article>
      </li>
      <li>
        <article class="help_finding__box">
          <header></header>
          <div>
            <h3>Stays</h3>
            <span>1239</span>
          </div>
        </article>
      </li>
      <li>
        <article class="help_finding__box">
          <header></header>
          <div>
            <h3>Stays</h3>
            <span>1239</span>
          </div>
        </article>
      </li>
    </ul>
  </section>
</div>
