@use '../helpers/config-variables' as v;
@use '../helpers/rem' as r;

app-menu-aside {
  width: v.$menu-aside-width;

  position: fixed;

  background-color: #2e3035;
    border-radius: r.rem(30);
    height: 80vh;
    top: 10vh;
    overflow: hidden;
    padding: r.rem(20) 0;

  div {
    @extend %flex;
    @extend %direction-column;
    @extend %space-between;
    @extend %items-center;

    position: relative;
    height: 100%;


    .logo {
      overflow: hidden;

      img {
        @extend %relative;
        z-index: 3;
        width: r.rem(32);
        margin: r.rem(10) 0;
      }
    }

    nav {
      @extend %relative;

      ul {
        li {
          @extend %block;
          text-align: center;
          overflow: hidden;

          button {
            border: 0;
            background-color: transparent;
          }
        }
      }
    }
  }
}
