* {
  box-sizing: border-box;
  // outline: 0;
  margin: 0;
  padding: 0;
}

*:focus {
  // outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #383844;
}

body,
input,
button {
  font-family: "Roboto", sans-serif !important;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}


app-root {
  @extend %flex;
}
