<div>
  <button class="logo" mat-button aria-label="Logo button">
    <img src="/assets/img/weed.svg" alt="" />
  </button>

<!--
  <button
    mat-button
    class="logo"
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_horiz</mat-icon>
    <span>fdp</span>
  </button> -->


 <nav>
    <ul>
      <li>
        <button class="logo" mat-button aria-label="aria label">
          <mat-icon>home</mat-icon>
        </button>
      </li>
      <li>
        <button class="logo" mat-button aria-label="aria label">
          <mat-icon>home</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
 <button
    mat-button
    class="logo"
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>
</div>
