<app-menu-aside></app-menu-aside>
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>


<!-- <footer>
  <div>banner to capture register</div>
  <div>copyright</div>
</footer> -->
