@use '../helpers/rem'as r;

app-search {
  @extend %block;
  padding: r.rem(10);
  margin: r.rem(20);

  .search_box_container {
    @extend %flex;
    @extend %space-between;

    padding: r.rem(10);
  }

  .search_result_grid {
    padding: 0 r.rem(10);
    margin: r.rem(10) 0 0 0;

    ul {
      @extend %grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: r.rem(40);
    }
  }

  .card_result {
    background-color: #2e3035;
    border-radius: 30px;
    box-shadow: 3px 6px 14px 2px rgba(#000, 0.2);
    color: #fff;

    padding: r.rem(20);

    header {
      @extend %relative;

      .avatar {
        @extend %absolute;
        background: #ccc;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        top: calc(180px - 25px);
        z-index: 10;
      }
    }

    .img-bg {
      width: 100%;

      height: 180px;

      background-image: url(/assets/img/01.jpg);
      background-size: cover;
      background-position: left center;

      margin-bottom: 35px;
    }

    footer {
      @extend %flex;
      @extend %space-between;
    }
  }

  .mat-card-actions {
    @extend %flex;
    @extend %space-between;
  }
}
