<section>
  <article class="search_box_container">
    <input type="text" placeholder="Search place" />
    <div>
      menu filtros
    </div>
  </article>
</section>

<section>
  <article class="search_result_grid">
    <ul id="testt">
      <li *ngFor="let result of results">
        <article class="card_result">
          <header>
            <div class="img-bg"></div>
            <div class="avatar"></div>
            <h3>Home Space</h3>
            icon link<span>homespace.com</span>
          </header>
          <section>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan.
            </p>
          </section>
          <footer>
            <span>bagde</span>
            <div>last opinions</div>
          </footer>
        </article>
      </li>
    </ul>
  </article>
</section>
